/* Typing effect */
.animated-text {
  font-size: 3.5rem;
  background: linear-gradient(45deg, #ff8c00, #da70d6);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  width: 190%;
}

/* Styling for the VulnHuntX introduction section */
.vuln-hunt-section {
  position: relative;
}

/* @keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
} */

/* Updated styling for the VulnHuntX introduction section */
.vuln-hunt-text {
  font-size: 10rem;
  font-weight: bold;
  background: linear-gradient(to right, #fa8b0c, #ff5673, #9c1aff, #1aa3ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px transparent;
  /* For the gradient border effect */
  background-clip: text;
  /* text-fill-color: transparent; */
  letter-spacing: 0.1em;
  /* Adjust letter spacing as needed */
  /* text-shadow:
    -1px -1px 0 #fa8b0c,
    1px -1px 0 #ff5673,
    -1px 1px 0 #9c1aff,
    1px 1px 0 #1aa3ff; */
  /* Create a gradient border effect */
  transition: all 0.3s ease;
}

/* Additional styles for 'INTRODUCING' with gradient border effect */
.introducing-text {
  font-size: 4rem;
  /* Adjust as needed */
  font-weight: bold;
  background: linear-gradient(to right, #fa8b0c, #ff5673, #9c1aff, #1aa3ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px transparent;
  /* For the gradient border effect */
  background-clip: text;
  /* letter-spacing: 0.2em; */
  /* Adjust letter spacing as needed */
  /* text-shadow: -1px -1px 0 #fa8b0c, 1px -1px 0 #ff5673, -1px 1px 0 #9c1aff,
    1px 1px 0 #1aa3ff; */
  /* Create a gradient border effect */
}
